@{
    ViewData["Title"] = "Status";
    ViewData["Header"] = "2";
    ViewData["Footer"] = "1";
    ViewData["HeaderName"] = "Tracking Status Pesanan";
    ViewData["SelectedFooter"] = "Tracking";
}

<!-- App Body Start -->
<div class="app-body pb-30">
    <div class="container mt-30 mb-30">
        <div class="position-relative mb-4">
            <input class="form-control ps-5 pe-5 shadow-sm rounded-pill" type="text" placeholder="Cari"
                id="searchInput">
            <i class="bi bi-search position-absolute top-50 start-0 translate-middle-y ms-3 text-muted"></i>
            <button type="button"
                class="btn btn-light btn-sm rounded-circle shadow-sm position-absolute top-50 end-0 translate-middle-y me-2"
                onclick="LoadListTracking()" title="Segarkan">
                <i class="bi bi-arrow-clockwise text-primary"></i>
            </button>
        </div>
        <div id="ListTacking"></div>
    </div>
</div>
<!-- App Body End -->

<script>

    var $;

    document.addEventListener('DOMContentLoaded', function () {
        if (typeof window.jQuery === 'undefined') {
            console.error('jQuery is not loaded.');
            return;
        }
        $ = window.jQuery;
        var user = getUserInfo();
        if (!isValidUser(user)) {
            $("#TitleModalLogin").text("Silahkan login terlebih dahulu");
            $("#btnClsModalLogin").show();
            $('#ModalLogin').modal('show');
        }
        else {
            LoadListTracking();
        }

    });
    function CloseModalLogin() {
        window.location.href = '@Url.Action("Index", "Home")';
        //$('#ModalLogin').modal('hide');
    }

    function LoadListTracking() {
        var user = getUserInfo();
        callApi({
            url: '/api/Pemesanan/GetTracking?id=' + user.id,
            method: 'GET',
            success: function (data) {
                if (!data) {
                    $('#ListTacking').html('<p class="text-center text-muted py-4">Data layanan tidak tersedia.</p>');
                }
                var html = $.map(data, function (item) {
                    var scr = "";
                    var btnDelete = "";
                    if (item.status_order == 1) {
                        btnDelete = `
                            <button 
                                onclick="DeleteTracking(${item.id});"
                                class="btn btn-outline-dark btn-sm"
                                title="Hapus Pesanan"
                                style="position: absolute; top: 10px; right: 54px; border-radius: 50%; width: 28px; height: 28px; display: flex; align-items: center; justify-content: center;">
                                <i class="bi bi-pencil" style="font-size: 1.0rem;"></i>
                            </button>`;
                    }
                    scr = `
                    <div class="card mb-3 position-relative shadow-sm border-0">
                        <div class="card-body position-relative">
                            <div>
                                <h5 class="card-title mb-1 fw-bold">
                                    ID Pesanan: <span class="text-primary"></span> ACD-${formatToSixDigits(item.id)}
                                </h5>
                                <p class="card-text mb-2">
                                    Total Pesanan: <span class="fw-semibold text-success">${formatRupiah(item.total)}</span>
                                </p>
                                <span class="badge ${item.status_tracking_color} text-white">${item.status_tracking}</span>
                            </div>
                            <!-- Tombol Delete -->
                            ${btnDelete}
                            <!-- Tombol Detail -->
                            <button 
                                id="BtnShow${item.id}"
                                onclick="ShowTrackingById(${item.id},${item.status_order});"
                                class="btn btn-success btn-sm"
                                title="Lihat Detail Status"
                                style="position: absolute; top: 10px; right: 10px; border-radius: 50%; width: 28px; height: 28px; display: flex; align-items: center; justify-content: center;">
                                <i class="bi bi-arrow-right" style="font-size: 1.0rem;"></i>
                            </button>
                        </div>
                    </div>`;
                    return scr;
                }).join('');
                $('#ListTacking').html(html);
            },
            error: function (err) {
                $('#ListTacking').html('<p class="text-center text-muted py-4">Belum ada pesanan yang disimpan.</p>');
            },
            onBeforeSend: function () {
                $('#ListTacking').html('<p class="text-center text-muted py-4">sedang memuat data.....</p>');
            },
            onComplete: function () {
            }
        });
    }

    function ShowTrackingById(Id, StatusOrder) {
        Storage.set('IdPesanan', Id);
        if (StatusOrder == 1) {
            GetDataTrx(Id);
        }
        else if (StatusOrder >= 2) {
            Storage.set('StatusOrder', StatusOrder);
            window.location.href = '@Url.Action("OrderStatus", "Tracking")';
        }
    }

    function DeleteTracking(Id) {
        callApi({
            url: '/api/Pemesanan/HapusTrackingById',
            method: 'POST',
            data: {
                Id: Id
            },
            success: function (res) {
                console.log(res);
                res.data.forEach(item => {
                    Storage.set('keranjang', item.Pesanan);
                    Storage.set('keluhan', item.Keluhan);
                    Storage.set('jenis_properti', item.Properti);
                    Storage.set('TanggalKunjungan', item.tanggal_kunjungan);
                    Storage.set('JamKunjungan', item.jam_kunjungan);
                    Storage.set('Total', item.total);
                    Storage.set('id_layanan', item.id_layanan)
                    let dataCustomer = {
                        "nama": item.nama,
                        "whatsapp": item.whatsapp,
                        "catatan": item.catatan,
                        "lokasi": item.lokasi,
                        "alamat": item.alamat
                    }
                    Storage.set('Customer', dataCustomer);
                    Storage.set('IdPesanan', Id);
                });

                var result = getStoragePemesanan();
                if (result != null) {
                    window.location.href = '@Url.Action("Index", "Pembayaran")';
                }

            },
            error: function (err) {
                @* alert('Error: ' + err); *@
                Swal.fire('Gagal!', 'Pesanan gagal dihapus.', 'warning');
                LoadListTracking();
            }
        });
    }

    function GetDataTrx(Id){
        console.log(Id);
        callApi({
            url: '/api/Pemesanan/GetTrackingById?Id='+Id,
            method: 'GET',
            success: function (res) {
                console.log(res);
                res.data.forEach(item => {
                    Storage.set('keranjang', item.Pesanan);
                    Storage.set('keluhan', item.Keluhan);
                    Storage.set('jenis_properti', item.Properti);
                    Storage.set('TanggalKunjungan', item.tanggal_kunjungan);
                    Storage.set('JamKunjungan', item.jam_kunjungan);
                    Storage.set('Total', item.total);
                    Storage.set('id_layanan', item.id_layanan)
                    let dataCustomer = {
                        "nama": item.nama,
                        "whatsapp": item.whatsapp,
                        "catatan": item.catatan,
                        "lokasi": item.lokasi,
                        "alamat": item.alamat
                    }
                    Storage.set('Customer', dataCustomer);
                    Storage.set('IdPesanan', Id);
                });
                var result = getStoragePemesanan();
                if (result != null) {
                    //window.location.href = '@Url.Action("Index", "Pembayaran")';
                    window.location.href = '@Url.Action("ChannelPembayaran", "Pembayaran")';
                }
            },
            error: function (err) {
                @* alert('Error: ' + err); *@
                Swal.fire('Gagal!', 'Data Gagal diload.', 'warning');
                LoadListTracking();
            }
        });
    }
</script>